/*  Padding espace à l'intérieur = haut droit bas gauche
    Margin espace à lextérieur = haut droit bas gauche
*/

/* loader */
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettre{
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

/* création d'une animation "flash" */
@keyframes flash{
    0%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900 ;
    }

    90%{
        color: #484848;
        text-shadow: none;
    }

    100%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900 ;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    background:#232424;
    color: #E3DCD2;

  }
  
  .header{
    position: initial;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  }
  
  .logo {
    font-size: 25px; 
    color: #CC8B65;
    text-decoration: none;
    font-weight: 600;
  
  }
  
  .navbar a{
    font-size: 18px;
    color: #CC8B65;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navbar a:hover{
    color:#E3DCD2;
  
  }
  
  .accueil {
    height: 100vh;
    /* background: url(/Images/PhotoCV.JPG) no-repeat; */
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 0;
  }
  
  .accueil-info{
    max-width: 600px;
  }
  
  .accueil-info h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .accueil-info h3{
    font-size: 30px;
    font-weight: 700;
    color: #CC8B65;
  }
  
  .accueil-info p{
    font-size: 15px;
    margin: 20px 0 40px;
  }
  
  /* boutton */
  
  .btn-box a{
    font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  text-decoration: none;

    
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
  
  
  